
.jumbotron {
    background-color: #99CCFF; //#6699FF;
}

#sidebar {
    padding-top: 10px;
}

#sidebar li {
    padding-top: 10px;
}

#sidebar a {
    font-size: 18px;
}

#sidebar a.active {
    font-weight: bold;
}
