<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        <!--header-->
        <div class="jumbotron page-header">
            <div class="container">
                <!--<div class="col-lg-12">-->
                    <div class="intro-message">
                        <h1>1st Annual Conference on Whatever</h1>
                        <h3>Here is all the info you need</h3>
                    </div>
                <!--</div>-->
            </div>
        </div>
        
        <!--main-->
        <div class="container page">
            <div class="row">
                <div class="col-md-3 sidebar">
                    {% include sidebar.html %}
                </div>
                <div class="col-md-9 content">
                    {{ content }}
                </div>
            </div>
        </div>
        
        <!--footer-->
        <div class="container footer">
            <div class="row">
                <div class="col-md-12 sidebar">
                    {% include footer.html %}
                </div>
            </div>
        </div>
        
    </body>
</html>